@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    background-color: #F0EBF8;
    font-family: 'Roboto', sans-serif;
}

.label {
    text-align: left;
    padding-top: 24px;
    font-family: 'Open Sans', sans-serif;
}

.txtBox{
    border: 1px solid transparent;
    border-bottom-color: gray;
}

#txtTipoTel {
    border: 1px solid transparent;
    border-bottom-color: gray;
    margin-top: 16px;
}

.legend {
    border: 3px solid transparent;
    color: #0066CC;
    border-bottom-color: #0066CC;
    text-align: left;
    margin-bottom: 0px;
    width: 300px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

#ImageButtonConsulte, #ImageButtonNew, #ImageButtonAltere, #ImageButtonExclua {
    margin-left: 12px;
}

#btnInsira {
    cursor: pointer;
    margin-top: 24px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}