@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    font-family: sans-serif;
    text-align:center;
    display:flex;
    justify-items: center;
    align-self:center;
}

.divButtons{
    width: 10%;
    position:absolute;
    top: 98px;
    left: 620px;
}

.container {
    text-align: center;
    align-self: center;
    width: 200px;
}

#form1 {

}

.divBuscarPeloCPF{
    text-align:center;
}

h1 {
    text-align: center;
    font-family: 'Pangolin', cursive;
}

.label {
    text-align:left;
}

.txtBox {
    border-width: 1px;
    width: 100%;
}

.btnsHeader{
   margin-left: 16px;
}

#ImageButtonConsulte, #ImageButtonAltere, #ImageButtonExclua {
    margin-left: 12px;
}

#btnInsira {
    cursor: pointer;
    margin-top: 12px;
}